[Desktop Entry]
Encoding=UTF-8
Name=Link to Assembly Arithmetic Instructions
Type=Link
URL=https://www.tutorialspoint.com/assembly_programming/assembly_arithmetic_instructions.htm
Icon=text-html
